<h3>Congratulations! There has been a new registration to one of your events</h3>

<strong>Name: {{ user }}</strong> <br />
<small>Email: {{ email }}</small> <br />
<h2>Event: {{ event }}</h2> <br />
